mat-radio-button {
  margin-left: 1em;
  font-family: 'Dancing Script', cursive !important;
  line-height: normal !important;
}

p {
  text-align: center;
}

p, div, span {
  font-size: 25px;
  line-height: normal !important;
}

.mat-input-element, .mat-form-field {
  font-family: 'Dancing Script', cursive !important;
  line-height: normal !important;
}

.mat-typography {
  line-height: normal !important;
}

img {
  object-fit: contain;
}

.mirror {
  transform: scaleX(-1);
}

.info {
  min-width: 350px;
  width: 100%;
  max-width: 500px;
  background-color: plum;
  padding: 1em;
}

.left, .right {
  background-image: url('../assets/cardhalfwhite.svg');
  background-repeat: repeat-y;
  background-position:  top right;
  max-width: 200px;
  background-color: plum;
}

.left {
  transform: scaleX(-1);
}

::ng-deep .swiper-button-next, ::ng-deep .swiper-button-prev {
  color: #ff4081;
}

::ng-deep .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ff4081;
}

::ng-deep .swiper-pagination-bullet {
  background-color: white;
}

.slides {
  height: auto;
}

.invite {
  max-height: none !important;
}
