<swiper [config]="config" style="height: calc(100vh - 88px); background-color: black;">
  <div class="swiper-wrapper">
    <img class="swiper-slide" *ngFor="let img of Images" [src]="img.src" [alt]="img.alt" />
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>
<div fxLayout="row" fxLayoutAlign="center stretch" *ngIf="nodata$ | async">
  <div fxLayout fxLayoutAlign="center center" class="info">
    <p style="font-size: 50px;">Nathan & Winnie</p>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between stretch" *ngIf="data$ | async" class="invite">
  <div fxFlex fxLayout fxLayoutAlign="start stretch" class="left"></div>
  <div fxLayout="column" fxLayoutGap="16px" class="info">
    <p style="font-size: 50px;">Nathan & Winnie</p>
    <p style="font-size: 30px;">invite you to celebrate</p>
    <p style="font-size: 45px;">their wedding</p>
    <br />
    <p style="font-size: 30px;">At their new house</p>
    <p style="font-size: 40px;">5713 Eliza Place</p>
    <p style="font-size: 30px;">Riverside, CA</p>
    <br />
    <p style="font-size: 30px;">Dinner and games</p>
    <p style="font-size: 40px;">start at 5pm</p>
    <p style="font-size: 30px;">ceremony follows at sunset</p>
    <br />
    <p style="font-size: 25px;">Indoor / Outdoor</p>
    <p style="font-size: 20px;">Street parking available on</p>
    <p style="font-size: 25px;">Eliza and Fotaleza Place</p>
    <br />
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" *ngFor="let person of people;">
      <div>Will <span style="text-decoration: underline;">{{person.name}}</span> be attending?</div>
      <mat-radio-group [(ngModel)]="person.attending.booleanValue">
        <mat-radio-button [value]=false>No</mat-radio-button>
        <mat-radio-button [value]=true>Yes</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-form-field appearance="fill" *ngIf="data_" style="width: 100%; max-width: 600px;">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Type here..." [(ngModel)]="data_.fields._comment.stringValue"></textarea>
    </mat-form-field>
    <button mat-raised-button class="mat-accent" (click)="submit()" [disabled]="disabled | async">Submit</button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end stretch" class="right"></div>
</div>
